scripts/clean-workflow.json
{"name":"SUNTREX — Stripe Payment Flow (Core Revenue)","nodes":[{"id":"sx-001","name":"stripe-webhook-entry","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,400],"parameters":{"httpMethod":"POST","path":"stripe-webhook-entry","responseMode":"responseNode","options":{"rawBody":true}}},{"id":"sx-002","name":"ACK Stripe 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,220],"parameters":{"respondWith":"json","responseBody":"={\"received\":true}","options":{"responseCode":200}}},{"id":"sx-003","name":"Verify Stripe Signature","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,400],"parameters":{"jsCode":"const rawBody = $json.body ? JSON.stringify($json.body) : '';\nconst sigHeader = ($json.headers || {})['stripe-signature'] || '';\nconst webhookSecret = $vars.STRIPE_WEBHOOK_SECRET || '';\n\nif (!webhookSecret) {\n  let stripeEvent;\n  try { stripeEvent = typeof $json.body === 'object' ? $json.body : JSON.parse(rawBody); }\n  catch(e) { return [{ json: { valid: false, error: 'Cannot parse body', stripeEvent: null } }]; }\n  return [{ json: { valid: true, error: null, eventType: stripeEvent.type, eventId: stripeEvent.id, stripeEvent } }];\n}\n\nif (!sigHeader) return [{ json: { valid: false, error: 'Missing stripe-signature header', stripeEvent: null } }];\n\nconst parts = {};\nsigHeader.split(',').forEach(part => { const [k, ...rest] = part.split('='); parts[k.trim()] = rest.join('=').trim(); });\nconst timestamp = parts['t'];\nconst receivedSig = parts['v1'];\n\nif (!timestamp || !receivedSig) return [{ json: { valid: false, error: 'Malformed stripe-signature', stripeEvent: null } }];\n\nconst ageSec = Math.floor(Date.now() / 1000) - parseInt(timestamp);\nif (ageSec > 300) return [{ json: { valid: false, error: 'Replay: ' + ageSec + 's old', stripeEvent: null } }];\n\nconst secretBase64 = webhookSecret.replace('whsec_', '');\nconst secretBytes = Uint8Array.from(atob(secretBase64), c => c.charCodeAt(0));\nconst key = await crypto.subtle.importKey('raw', secretBytes, { name: 'HMAC', hash: 'SHA-256' }, false, ['verify']);\nconst encoder = new TextEncoder();\nconst signedPayload = timestamp + '.' + rawBody;\nconst receivedBytes = Uint8Array.from(receivedSig.match(/.{2}/g).map(b => parseInt(b, 16)));\nconst sigValid = await crypto.subtle.verify('HMAC', key, receivedBytes, encoder.encode(signedPayload));\n\nif (!sigValid) return [{ json: { valid: false, error: 'Signature mismatch', stripeEvent: null } }];\n\nlet stripeEvent;\ntry { stripeEvent = typeof $json.body === 'object' ? $json.body : JSON.parse(rawBody); }\ncatch(e) { return [{ json: { valid: false, error: 'Cannot parse body', stripeEvent: null } }]; }\n\nreturn [{ json: { valid: true, error: null, eventType: stripeEvent.type, eventId: stripeEvent.id, stripeEvent } }];"}},{"id":"sx-004","name":"Signature Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,400],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"sig-check","leftValue":"={{ $json.valid ? 'yes' : 'no' }}","rightValue":"yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"sx-005","name":"Log Invalid Signature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,600],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/transaction_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"transaction_id\":null,\"actor_id\":null,\"event_type\":\"stripe.webhook.invalid_signature\",\"payload\":{\"error\":\"{{ $json.error }}\",\"timestamp\":\"{{ new Date().toISOString() }}\"}}","options":{}}},{"id":"sx-006","name":"Route by Event Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[960,400],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.eventType }}","rightValue":"payment_intent.succeeded","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"payment_succeeded"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.eventType }}","rightValue":"payment_intent.payment_failed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"payment_failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.eventType }}","rightValue":"charge.dispute.created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dispute_created"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.eventType }}","rightValue":"charge.refunded","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"charge_refunded"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.eventType }}","rightValue":"account.updated","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"account_updated"}]},"options":{}}},{"id":"sx-007","name":"Validate and Extract Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,240],"parameters":{"jsCode":"const event = $json.stripeEvent;\nconst pi = event?.data?.object;\n\nif (!pi || pi.object !== 'payment_intent') throw new Error('[SUNTREX] Expected payment_intent, got: ' + pi?.object);\n\nconst meta = pi.metadata || {};\nconst transactionId = meta.order_id || meta.transaction_id;\nconst buyerId = meta.buyer_id;\nconst sellerId = meta.seller_id;\n\nif (!transactionId) throw new Error('[SUNTREX] Missing metadata.order_id in ' + pi.id);\nif (!buyerId) throw new Error('[SUNTREX] Missing metadata.buyer_id in ' + pi.id);\nif (!sellerId) throw new Error('[SUNTREX] Missing metadata.seller_id in ' + pi.id);\n\nconst amountCents = pi.amount;\nif (!amountCents || amountCents < 10000 || amountCents > 50000000) throw new Error('[SUNTREX] Bad amount: ' + amountCents);\n\nconst currency = (pi.currency || '').toLowerCase();\nif (!['eur','gbp','chf','pln'].includes(currency)) throw new Error('[SUNTREX] Unsupported currency: ' + currency);\n\nreturn [{ json: { transactionId, buyerId, sellerId, paymentIntentId: pi.id, chargeId: pi.latest_charge, amountCents, feeCents: pi.application_fee_amount || 0, currency, eventId: $json.eventId, processedAt: new Date().toISOString() } }];"}},{"id":"sx-008","name":"Check Event Already Processed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,240],"parameters":{"method":"GET","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/transaction_events?event_type=eq.payment.succeeded&payload->>stripe_event_id=eq.{{ $json.eventId }}&select=id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{}}},{"id":"sx-009","name":"Event Already Processed","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,240],"parameters":{"jsCode":"const rows = $input.all();\nconst prevItem = $('Validate and Extract Metadata').first().json;\nconst existingRows = Array.isArray(rows[0]?.json) ? rows[0].json : [];\nif (existingRows.length > 0) return [{ json: { duplicate: true, reason: 'Event ' + prevItem.eventId + ' already processed', ...prevItem } }];\nreturn [{ json: { duplicate: false, ...prevItem } }];"}},{"id":"sx-010","name":"Skip Duplicate","type":"n8n-nodes-base.if","typeVersion":2,"position":[1920,240],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"dup-check","leftValue":"={{ $json.duplicate ? 'yes' : 'no' }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"sx-011","name":"Update Order PAID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,160],"parameters":{"method":"PATCH","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Order?id=eq.{{ $json.transactionId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"status\":\"paid\",\"payment_intent_id\":\"{{ $json.paymentIntentId }}\",\"charge_id\":\"{{ $json.chargeId }}\",\"paid_at\":\"{{ $json.processedAt }}\",\"updated_at\":\"{{ $json.processedAt }}\"}","options":{}}},{"id":"sx-012","name":"Log Payment Succeeded","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,160],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/transaction_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"transaction_id\":\"{{ $json.transactionId }}\",\"actor_id\":null,\"event_type\":\"payment.succeeded\",\"payload\":{\"stripe_event_id\":\"{{ $json.eventId }}\",\"payment_intent_id\":\"{{ $json.paymentIntentId }}\",\"amount_cents\":{{ $json.amountCents }},\"fee_cents\":{{ $json.feeCents }},\"currency\":\"{{ $json.currency }}\",\"processed_at\":\"{{ $json.processedAt }}\"}}","options":{}}},{"id":"sx-013","name":"Prepare Buyer Seller Notifications","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,160],"parameters":{"jsCode":"const d = $json;\nconst cur = (d.currency || 'eur').toUpperCase();\nconst shortId = (d.transactionId || '').substring(0, 8).toUpperCase();\nconst amountEur = (d.amountCents / 100).toFixed(2);\nconst netEur = ((d.amountCents - d.feeCents) / 100).toFixed(2);\nconst feeEur = (d.feeCents / 100).toFixed(2);\nconst buyerNotif = { user_id: d.buyerId, message: 'Paiement confirme #' + shortId + ' — ' + amountEur + ' ' + cur, metadata: JSON.stringify({ type: 'payment_succeeded', transaction_id: d.transactionId }) };\nconst sellerNotif = { user_id: d.sellerId, message: 'Vente #' + shortId + ' — net ' + netEur + ' ' + cur + ' (commission ' + feeEur + ')', metadata: JSON.stringify({ type: 'payment_received', transaction_id: d.transactionId }) };\nreturn [{ json: { buyerNotif, sellerNotif, ...d } }];"}},{"id":"sx-014","name":"Notify Buyer Payment Confirmed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,80],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Notification","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.buyerNotif) }}","options":{}}},{"id":"sx-015","name":"Notify Seller Payment Received","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,240],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Notification","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.sellerNotif) }}","options":{}}},{"id":"sx-016","name":"Extract Failed Payment Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400],"parameters":{"jsCode":"const pi = $json.stripeEvent?.data?.object || {};\nconst meta = pi.metadata || {};\nconst transactionId = meta.order_id || meta.transaction_id;\nconst buyerId = meta.buyer_id;\nconst failureCode = pi.last_payment_error?.code || 'unknown';\nconst failureMessage = pi.last_payment_error?.message || 'Payment failed';\nif (!transactionId) return [{ json: { skipped: true, reason: 'No transaction_id', eventId: $json.eventId } }];\nreturn [{ json: { transactionId, buyerId, paymentIntentId: pi.id, failureCode, failureMessage, eventId: $json.eventId, processedAt: new Date().toISOString() } }];"}},{"id":"sx-017","name":"Update Order FAILED","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,400],"parameters":{"method":"PATCH","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Order?id=eq.{{ $json.transactionId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"status\":\"payment_failed\",\"failure_code\":\"{{ $json.failureCode }}\",\"updated_at\":\"{{ $json.processedAt }}\"}","options":{}}},{"id":"sx-018","name":"Log Payment Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,400],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/transaction_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"transaction_id\":\"{{ $json.transactionId }}\",\"actor_id\":null,\"event_type\":\"payment.failed\",\"payload\":{\"failure_code\":\"{{ $json.failureCode }}\",\"processed_at\":\"{{ $json.processedAt }}\"}}","options":{}}},{"id":"sx-019","name":"Prepare Failed Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,400],"parameters":{"jsCode":"const d = $json;\nconst shortId = (d.transactionId || '').substring(0, 8).toUpperCase();\nconst notification = { user_id: d.buyerId, message: 'Paiement echoue #' + shortId + ' (' + d.failureCode + '). Verifiez votre moyen de paiement.', metadata: JSON.stringify({ type: 'payment_failed', failure_code: d.failureCode }) };\nreturn [{ json: { notification } }];"}},{"id":"sx-020","name":"Notify Buyer Payment Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,400],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Notification","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.notification) }}","options":{}}},{"id":"sx-021","name":"Mark Order Disputed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,580],"parameters":{"method":"PATCH","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Order?payment_intent_id=eq.{{ $json.stripeEvent.data.object.payment_intent }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"status\":\"disputed\",\"updated_at\":\"{{ new Date().toISOString() }}\"}","options":{}}},{"id":"sx-022","name":"Log Dispute Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,580],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/transaction_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"transaction_id\":null,\"actor_id\":null,\"event_type\":\"charge.dispute.created\",\"payload\":{\"dispute_id\":\"{{ $json.stripeEvent.data.object.id }}\",\"processed_at\":\"{{ new Date().toISOString() }}\"}}","options":{}}},{"id":"sx-023","name":"Extract Refund Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,720],"parameters":{"jsCode":"const charge = $json.stripeEvent?.data?.object || {};\nconst totalRefunded = charge.amount_refunded || 0;\nreturn [{ json: { paymentIntentId: charge.payment_intent, chargeId: charge.id, totalRefundedCents: totalRefunded, isFullRefund: totalRefunded >= charge.amount, currency: charge.currency, eventId: $json.eventId, processedAt: new Date().toISOString() } }];"}},{"id":"sx-024","name":"Update Order REFUNDED","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,720],"parameters":{"method":"PATCH","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Order?payment_intent_id=eq.{{ $json.paymentIntentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"status\":\"{{ $json.isFullRefund ? 'refunded' : 'partially_refunded' }}\",\"refunded_amount_cents\":{{ $json.totalRefundedCents }},\"updated_at\":\"{{ $json.processedAt }}\"}","options":{}}},{"id":"sx-025","name":"Log Refund Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,720],"parameters":{"method":"POST","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/transaction_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"transaction_id\":null,\"actor_id\":null,\"event_type\":\"charge.refunded\",\"payload\":{\"charge_id\":\"{{ $json.chargeId }}\",\"refunded_cents\":{{ $json.totalRefundedCents }},\"is_full_refund\":{{ $json.isFullRefund }},\"processed_at\":\"{{ $json.processedAt }}\"}}","options":{}}},{"id":"sx-026","name":"Update Company KYC Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,900],"parameters":{"method":"PATCH","url":"=https://uigoadkslyztxgzahmwv.supabase.co/rest/v1/Company?stripe_account_id=eq.{{ $json.stripeEvent.data.object.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"stripe_charges_enabled\":{{ $json.stripeEvent.data.object.charges_enabled }},\"stripe_payouts_enabled\":{{ $json.stripeEvent.data.object.payouts_enabled }},\"updated_at\":\"{{ new Date().toISOString() }}\"}","options":{}}},{"id":"sx-027","name":"Skip Already Processed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,340],"parameters":{"jsCode":"const d = $json;\nreturn [{ json: { skipped: true, reason: d.reason, eventId: d.eventId } }];"}}],"connections":{"stripe-webhook-entry":{"main":[[{"node":"ACK Stripe 200","type":"main","index":0},{"node":"Verify Stripe Signature","type":"main","index":0}]]},"Verify Stripe Signature":{"main":[[{"node":"Signature Valid?","type":"main","index":0}]]},"Signature Valid?":{"main":[[{"node":"Route by Event Type","type":"main","index":0}],[{"node":"Log Invalid Signature","type":"main","index":0}]]},"Route by Event Type":{"main":[[{"node":"Validate and Extract Metadata","type":"main","index":0}],[{"node":"Extract Failed Payment Data","type":"main","index":0}],[{"node":"Mark Order Disputed","type":"main","index":0}],[{"node":"Extract Refund Data","type":"main","index":0}],[{"node":"Update Company KYC Status","type":"main","index":0}]]},"Validate and Extract Metadata":{"main":[[{"node":"Check Event Already Processed","type":"main","index":0}]]},"Check Event Already Processed":{"main":[[{"node":"Event Already Processed","type":"main","index":0}]]},"Event Already Processed":{"main":[[{"node":"Skip Duplicate","type":"main","index":0}]]},"Skip Duplicate":{"main":[[{"node":"Update Order PAID","type":"main","index":0}],[{"node":"Skip Already Processed","type":"main","index":0}]]},"Update Order PAID":{"main":[[{"node":"Log Payment Succeeded","type":"main","index":0}]]},"Log Payment Succeeded":{"main":[[{"node":"Prepare Buyer Seller Notifications","type":"main","index":0}]]},"Prepare Buyer Seller Notifications":{"main":[[{"node":"Notify Buyer Payment Confirmed","type":"main","index":0},{"node":"Notify Seller Payment Received","type":"main","index":0}]]},"Extract Failed Payment Data":{"main":[[{"node":"Update Order FAILED","type":"main","index":0}]]},"Update Order FAILED":{"main":[[{"node":"Log Payment Failed","type":"main","index":0}]]},"Log Payment Failed":{"main":[[{"node":"Prepare Failed Notification","type":"main","index":0}]]},"Prepare Failed Notification":{"main":[[{"node":"Notify Buyer Payment Failed","type":"main","index":0}]]},"Mark Order Disputed":{"main":[[{"node":"Log Dispute Event","type":"main","index":0}]]},"Extract Refund Data":{"main":[[{"node":"Update Order REFUNDED","type":"main","index":0}]]},"Update Order REFUNDED":{"main":[[{"node":"Log Refund Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"timezone":"Europe/Paris","errorWorkflow":"0Q23FXcq1VsHZgrr"}}
